<% content_for :navbar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Authors</li>
      <li>
        <dl>
          <dt><strong>Pablo Marrero</strong></dt>
          <dd>pablo@aquait.com.uy</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><strong>Leandro Bertolami</strong></dt>
          <dd>leandro.bertolami@dyn-solutions.com</dd>
        </dl>
      </li>
    </ul>
  </div><!--/.well -->
<% end %>

<div class="hero-unit">
  <h1>Basic Ruby Example</h1>
  <h5>Basic example of how use the normal environment. This will be the point of start for projects whitout strong complexity.</h5>
</div>
<div class="row-fluid">
  <div class="span3 well">
    <h3>Ruby</h3>
    <p>In this project we used Ruby MRI version 2.0.0</p>
  </div>
  <div class="span3 well">
    <h3>Rails</h3>
    <p>In this project we used Rails version 4.0</p>
  </div>
  <div class="span3 well">
    <h3>Data Base</h3>
    <p>In this project we used Postgresql as the Database Server. The version that we utilized is 9.1</p>
  </div>
  <div class="span3 well"> 
    <h3>CSS</h3>
    <p>In this project we used Twitter Bootstrap. The version that we utilized is 2.3.2</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 well">
    <h3>Paperclip</h3>
    <p>We use Paperclip for management of files. As an example of use we add an avatar to Person model.</p>
  </div>
  <div class="span3 well">
    <h3>Sucker Punch</h3>
    <p>We use SuckerPunch for manage background jobs. As an example of use we add a job UserLogJob that put information about users in the system and the date of last login. This job is used in main controller.</p>
  </div>
  <div class="span3 well">
    <h3>Devise, CanCan and Rolify</h3>
    <p>For the management of authentication and authorization we use Devise (authentication), CanCan (authorization) and Rolify (role management).</p>
  </div>
  <div class="span3 well"> 
    <h3>Cocoon</h3>
    <p>We use Cocoon for the management of Nested Attributes in models. Example of use in Person model.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12 well">
    <h3>Testing</h3>
    <p>For unit/functional testing we use Rspec. For integration tests we use Capybara with Selenium. 
      We encourage to use Guard to test any changes to the files automatically by running: <br/><br/>
        > bundle exec guard<br/><br/>
      This will auto-run the tests for the classes/controller you change while coding. Also you can run the tests manually at any time with:<br/><br/>
        > bundle exec rspec
        </p>
  </div>  
</div>
