<div class="row-fluid">
  <div class="span9">
    <div class="page-header center">
      <h3 class="hand_writer_title">
        <%= image_tag 'logo-cimpa.gif', :size => "200x160" %><br/>
        <%= t 'cimpa_name' %>
      </h3>
    </div>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <address>
        <strong><%= t :address %></strong><br>
        CIMPA<br>
        Le Dubellay<br>
        4 avenue Joachim - Bât. A<br>
        06100 Nice<br>
        FRANCE
      </address>
    </div>
  </div>
</div>

