  <div class="control-group form-inline nested-fields">
    <label> <%= t('.friends') %> </label>
    <%= f.hidden_field :person_id, :value => @person.id %>
    <%= f.collection_select :friend_id, Person.all, :id, :name, :prompt => true%>
    <%= link_to_remove_association t('.remove'), f, :class => 'btn btn-danger' %>
  </div>
