<div class="page-header">
  <h1>List of CIMPA RESEARCH SCHOOL PROPOSALS</h1>
</div>

<h3>Proposals</h3>
<%= render :partial => "printable_presentations", :locals => {:presentations => @finalproposals} %>
