<div class="page-header">
  <h1 class="hand_writer_title"><%=t '.title' %></h1>
   <p><strong>Please notice that this form is <em>not</em> saved automatically, so please save any changes before closing this webpage.</strong></p>
</div>

<%= render 'form', path: presentation_evaluation1_index_path(@presentation), method: 'post' %>
