<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/assets/application.css?body=1" media="all" rel="stylesheet" />
    <link href="/assets/twitter-bootstrap-static/bootstrap.css?body=1" media="all" rel="stylesheet" />
    <link href="/assets/twitter-bootstrap-static/fontawesome.css?body=1" media="all" rel="stylesheet" />
    <link href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet" />
    <link href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
